@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 334 62% 100%;
    --foreground: 334 55% 1%;
    --muted: 334 35% 95%;
    --muted-foreground: 334 9% 37%;
    --popover: 334 62% 100%;
    --popover-foreground: 334 55% 1%;
    --card: 334 62% 100%;
    --card-foreground: 334 55% 1%;
    --border: 334 5% 95%;
    --input: 334 5% 95%;
    --primary: 237.75 46.51% 33.73%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34.24 94.47% 57.45%;
    --secondary-foreground: 334 2.24% 13.54%;
    --accent: 334 20% 82%;
    --accent-foreground: 334 20% 22%;
    --destructive: 18 93% 23%;
    --destructive-foreground: 18 93% 83%;
    --ring: 334 44% 52%;
    --chart-1: 237.75 46.51% 33.73%;
    --chart-2: 34.24 94.47% 57.45%;
    --chart-3: 334 20% 82%;
    --chart-4: 34.24 94.47% 60.45%;
    --chart-5: 237.75 49.51% 33.73%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217.5 9.09% 17.25%;
    --foreground: 334 34% 98%;
    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;
    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;
    --card: 210 9.09% 12.94%;
    --card-foreground: 334 34% 98%;
    --border: 334 0% 18.46%;
    --input: 214.29 5.04% 27.25%;
    --primary: 240 46.51% 33.73%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;
    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 226.73 58.43% 65.1%;
    --destructive: 0 86.89% 48.16%;
    --destructive-foreground: 0 0% 0%;
    --ring: 217.5 9.09% 17.25%;
    --chart-1: 240 46.51% 33.73%;
    --chart-2: 214.29 5.04% 27.25%;
    --chart-3: 217.5 9.09% 17.25%;
    --chart-4: 214.29 5.04% 30.25%;
    --chart-5: 240 49.51% 33.73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
